.header{
    height:70px;
    width:100%;
    background:#111827;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;

    border-bottom:1px solid #293548;
}

.logo{
    font-size:24px;
    font-weight:700;
}

.header-status{
    display:flex;
    gap:15px;
}

.status-card{

    display:flex;
    align-items:center;
    gap:8px;

    padding:10px 18px;

    background:#1F2937;

    border-radius:12px;

    color:#E5E7EB;

    font-size:15px;
}